
%p
  .new-dev-offer
    = link_to 'MAKE NEW OF DEVELOPER', new_developer_path

- @developer.each do |x|
  .developer-box
    NAME:
    %p
      .data
        = link_to x.name, developer_path(x)
    POINTS:
    %p
      .data
        = x.points_accepted
    TIME SINCE LAST QUESTION:
    %p
      .data
        = ((Time.now - x.last_question)/1.hour).round(3)
        hours
    TIME SINCE BROKE PRODUCTION:
    %p
      .data
        = ((Time.now - x.last_broke_production)/1.day).round(0)
        days
    %p
      = link_to 'edit', edit_developer_path(x)
      = form_for x, html: {method: :delete, clas: 'delete'} do |f|
        = submit_tag "DESTROY YUO", confirm: "YUO KNOW WHAT YOU DOING MAEK YUOR TIME"
