%p
  .new-dev-offer
    = link_to 'MAKE NEW OF DEVELOPER', new_developer_path

- @developer.each do |x|
  .developer-box
    = t :name
    %p
      .data
        = link_to x.name, developer_path(x)
    = t :points
    %p
      .data
        = x.points_accepted
    = t :last_question
    %p
      .data
        = x.time_since_question
        hours
    = t :last_broke_production
    %p
      .data
        = x.time_since_broke_production
        days
    %p
      = link_to 'edit', edit_developer_path(x)
      = form_for x, html: {method: :delete, clas: 'delete'} do |f|
        = submit_tag "delete unnecessary developer", confirm: "YUO KNOW WHAT YOU DOING MAEK YUOR TIME"
