.updateable
%p
  .new-dev-offer
    = link_to 'MAKE NEW OF DEVELOPER (click here)', new_developer_path

  .update-time
    LAST UPDATED AT:
    = Time.zone.now

- @developer.each do |x|
  .developer-box[x]
    = t :name
    %p
      .data
        = link_to x.name, developer_path(x)
    = t :points
    %p
      .data
        #points
          = x.points_accepted
    = t :last_question
    %p
      .data
        #last-question
          = x.time_since_question
          hours
    = t :last_broke_production
    %p
      .data
        #broke-production
          = x.time_since_broke_production
          days

    %p
      = link_to 'edit', edit_developer_path(x)
      = form_for x, html: {method: :delete, class: 'delete'} do |f|
        = submit_tag "delete unnecessary developer", confirm: "YUO KNOW WHAT YOU DOING MAEK YUOR TIME"
