.developer-box
  %h1 HI THERE
  %h2 this is dev stats:

  = t :name
  %p
    .data
      = @developer.name
  = t :points
  %p
    .data
      = @developer.points_accepted
  = t :last_question
  %p
    .data
      = @developer.time_since_question(Time.now)
      hours
  = t :last_broke_production
  %p
    .data
      = @developer.time_since_broke_production(Time.now)
      days

  = link_to 'edit', edit_developer_path(@developer)

  = link_to 'BACK OF INDEX!!', developers_path