.updateable

%p
  .update-time
    LAST UPDATED AT:
    = Time.zone.now

.developer-box[@developer]
  %h2 this is dev stats:

  = t :name
  %p
    .data
      = @developer.name
  = t :points
  %p
    .data
      #points
        = @developer.points_accepted
    = form_tag add_points_developer_path do |f|
      = text_field_tag :points, '', size: 2
      = submit_tag 'ADD OF POINTS!'
  = t :last_question
  %p
    .data
      #last-question
        = @developer.time_since_question
        hours
    = form_for @developer, method: :post, url: asked_question_developer_path(@developer) do |f|
      = submit_tag "just asked question"

  = t :last_broke_production
  %p
    .data
      #broke-production
        = @developer.time_since_broke_production
        days
    = form_for @developer, method: :post, url: broke_production_developer_path(@developer) do |f|
      = submit_tag "just broke production"

  = link_to 'edit', edit_developer_path(@developer)

  = link_to 'BACK OF INDEX!!', developers_path
